@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>$(document).ready(function () {

    $('#myForm').submit(function (e) {
        e.preventDefault();

        

        var onSuccess = function (result) {
            $('#resultValue').html(result);
        };

        $.ajax({
            type: 'POST',
            url: '/api/values',
            data: $(this).serialize(),
            success: onSuccess
        });



    });

    

    });
</script>

<div>
    <form action="/api/values" method="post" id="myForm">
        <div class="form-group">
            <label for="customerIdLabel">Customer ID</label>
            <input type="text" class="form-control" id="customerIdInput" name="customerIdInput" aria-describedby="emailHelp" placeholder="Enter customer ID">
        </div>
        <div class="form-group">
            <label for="nameLabel">Full name</label>
            <input type="text" class="form-control" id="nameInput" name="nameInput" aria-describedby="emailHelp" placeholder="Enter name">
        </div>
        <button type="submit" id="calculatePriceButton" class="btn btn-primary">Calculate price</button>
    </form>

    <div id="resultValue">

    </div>
</div>
